.registerDesign{
    background-color: #6e387b;
    background-image: linear-gradient(160deg, #6e387b 0%, #fe5f55 100%);
    color: white;
    width: 100vw;
    height: 87vh;
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.registerBtn{
    background-color: #5f0077;
    border: 0.1em #460057 solid;
}

.registerBtn:hover{
    background-color: #460057;
    border: 0.1em #460057 solid;
}