.registerDesign{
    background-color: #6e387b;
    background-image: linear-gradient(160deg, #1982C4 0%, #072D45 100%);
    color: white;
    width: 100vw;
    height: 87vh;
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.registerBtn{
    background-color: #1982C4;
    border: 0.1em white solid;
}

.registerBtn:hover{
    background-color: #072D45;
    border: 0.1em white solid;
}