.profileDesign{
    /* background-color: #6e387b;
    background-color: #fe5f55; */
    background-color: #587B7F; 
    /* background-image: linear-gradient(160deg, #6e387b 0%, #fe5f55 100%); */
    width: 100vw;
    height: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContainer{
    color: black;
    margin-top: 3em;
    margin-bottom: 0.5em;
    height: 90%;
    font-size: 1.5em;
    width: 70%;
    border-radius: 15px;
    border: 5px solid #49676a;
    background-color: #E1DEE3;
}

.flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileColumn{
    display: flex;
    align-items: center;
}

.profileLogo{
    padding: 1em;
    width: 80%;
    cursor: pointer;
}

.row{
    border-bottom: 2px solid black;
}

.profileLogo:hover{
    opacity: 0.7;
    border-radius: 50%;
}

.editProfileBtn{
    width: 50%;
    margin-top: 0.5em;
    background-color: #06D6A0;
    border: 0.1em #05bc8b solid;
    margin-bottom: 0.5em;
}

.editProfileBtn:hover{
    background-color: #05bc8b;
    border: 0.1em #05bc8b solid;
}

.deleteProfileBtn{
    width: 50%;
    margin-top: 0.5em;
    background-color: #fb2f21;
    border: 0.1em #cb261a solid;
    margin-bottom: 0.5em;
}

.deleteProfileBtn:hover{
    background-color: #cb261a;
    border: 0.1em #cb261a solid;
}

.profileButtons{
    display: flex;

}

@media (max-width: 560px) {
    .deleteProfileBtn{
        width: 100%;
    }
    .editProfileBtn{
        width: 100%;
    }
    .profileButtons{
        flex-direction: column;
    }
}