.profileDesign{
    background-image: linear-gradient(160deg, #1982C4 0%, #072D45 100%);
    width: 100vw;
    height: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContainer{
    margin-top: 3em;
    margin-bottom: 0.5em;
    height: 90%;
    font-size: 1.5em;
    width: 70%;
    border-radius: 15px;
    border: 5px solid white;
    background-color: #BDD0DF;
}

.flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileColumn{
    display: flex;
    align-items: center;
}

.profileLogo{
    padding: 1em;
    width: 80%;
    cursor: pointer;
}

.row{
    border-bottom: 2px solid white;
}

.profileLogo:hover{
    opacity: 0.7;
    border-radius: 50%;
}

.editProfileBtn{
    width: 50%;
    margin-top: 0.5em;
    background-color: #1982C4;
    border: 0.1em white solid;
    margin-bottom: 0.5em;
}

.editProfileBtn:hover{
    background-color: #072D45;
    border: 0.1em white solid;
    color: white;
    font-weight: bold;
}

.deleteProfileBtn{
    width: 50%;
    margin-top: 0.5em;
    background-color: #E1B36B;
    border: 0.1em #D46F2B solid;
    margin-bottom: 0.5em;
}

.deleteProfileBtn:hover{
    background-color: #D46F2B;
    border: 0.1em white solid;
    color: white;
    font-weight: bold;
}

.profileButtons{
    display: flex;
}

@media (max-width: 560px) {
    .deleteProfileBtn{
        width: 90%;
    }
    .editProfileBtn{
        width: 90%;
    }
    .profileButtons{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .profileContainer{
        margin-top: 8em;
        font-size: 0.8em;
    }
}