.tripDeisgn{
    background-color: #6e387b;
    background-color: #4C1E4F;
    background-image: linear-gradient(160deg, #6e387b 0%, #fe5f55 100%);
    color: white;
    width: 100vw;
    min-height: 87vh;
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;    
}