.tripDeisgn{
    background-image: linear-gradient(160deg, #1982C4 0%, #072D45 100%);
    color: white;
    width: 100vw;
    min-height: 87vh;
    margin-top: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.tripContainer{
    height: 90%;
    width: 80%;
    margin-top: 3em;
    margin-bottom: 1em;
}

.tripCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    min-height: 40em;
}

.tripCardTitle{
    background-color: #072D45;
    font-size: 2em;
    border-radius: 1em 1em 0 0;
    height: 10%;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.tripCardInfo{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #f8f9fa;
    color: black;

    border: 5px solid #1982C4;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.tripDate{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 3px solid black;
}

.tripStartDate{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tripEndDate{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tripDescription{
    margin-top: 2em;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-weight: bold;
}

.tripJoin{
    margin-top: 2em;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.joinTripButton{
    background-color: #1982C4;
    border: 1px solid white;
}

.joinTripButton:hover{
    background-color: #072D45;
    border: 1px solid white;
    color: white;
}

.tripDetails{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.tripParticipants{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;    
    font-weight: bold;
}


.tripOrganizerContainer{
    border-bottom: 3px solid #072D45;
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
}

.tripOrganizer{
    height: 10%;
    font-size: 1.2rem;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tripOrganizerTitle{
    height: 10%;
    width: 62%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tripParticipantsTitle{
    height: 10%;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #072D45;

}

.tripTraveler{
    height: 70%;
    width: 100%;
}

.tripUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tripTravelerNameTitle{
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 3px solid #072D45;

}

.tripTravelerAgeTitle{
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 3px solid #072D45;
    border-right: 2px solid #072D45;
}

.tripTravelerCountryTitle{
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 3px solid #072D45;
    border-left: 2px solid #072D45;
}

.tripTravelerName{
    width: 100%;
}

.tripTravelerAge{
    width: 100%;
}

.tripTravelerCountry{
    width: 100%;
}

.link{
    cursor: pointer;
    text-decoration: none;
    color:#E1B36B;
}

.link:hover{
    cursor: pointer;
    text-decoration: none;
    color: #D46F2B;
}

thead{
    border-bottom: 1px solid #072D45;
}

td{
    border-bottom: 1px solid #072D45 !important;
}
@media (max-width: 600px) {
    .tripCardInfo{
        flex-direction: column;
    }
    .tripDetails{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
        border-right: none;
    }
    .tripParticipants{
        width: 100%;
        border: none;
    }
    .tripParticipantsTitle{
        border-top: 3px solid #072D45;
        border-bottom: 3px solid #072D45;

    }
    .tripOrganizerContainer{
        border-bottom: 3px solid #072D45;
    }

  }

