.tripsDeisgn{
    background-image: linear-gradient(160deg, #1982C4 0%, #072D45 100%);
    color: white;
    width: 100vw;
    min-height: 87vh;
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripsContainer{
    margin-top: 2em;
    width: 80%;
    height: 90%;
    border-radius: 2em;
}

.trips{
    width: 100%;
    display: grid;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-gap: 1em;
    min-height: 48em;
}

.options{
    height: 10%;
    width: 100%;
    display: flex;
    padding: 1em;
}

.newTripButton{
    color: black;
    background-color: #FFCF00;
    border: 3px solid #ff9d00;
}

.newTripButton:hover{
    background-color: #ff9d00;
    border: 3px solid #ff9d00;
}

.pagination{
    width: 50%;
    display: flex;
    justify-content: end;
}

.addTripButton{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.paginationButton{
    color: black;
    background-color: #FFCF00;
    border: 3px solid #ff9d00;
}

.paginationButton:hover{
    background-color: #ff9d00;
    border: 3px solid #ff9d00;
}

.activePage{
    color: white;
    background-color: #ff9d00;
    border: 3px solid #ff9d00;
}

.trip{
    width: 100%;
    height: 15em;
    padding: 0.2em;
    background-color: white;
    border-radius: 1em;
    border: 3px solid;
    border-color: #E1B36B ;
}

/* .trip:hover{
    background-color: #C08497;
    width: 100%;
    height: 15em;
    padding: 0.2em;
} */

.tripsTitle{
    display: flex;
    background-color: #D46F2B;
    border-radius: 1em 1em 0 0;
}

/* .tripsTitle:hover{
    display: flex;
    background-color: #6F5060;
    border-radius: 1em 1em 0 0;
} */

.tripsCity{
    width: 100%;
    height: 15%;
    max-height: 15%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.deleteTrips{
    margin-left: -1em;
    cursor: pointer;
    color: #D46F2B;
    font-size: 1.2em;
}

.deleteTrips:hover{
    margin-left: -1em;
    color: white
}

.tripsDates{
    padding: 0.2em 0 0.2em 0;
    height: 15%;
    max-height: 15%;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.tripsDescription{
    height: 40%;
    color: #072D45;
    max-height: 40%;
    padding-top: 1em;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: #BDD0DF;
    border: 2px solid white;
    overflow-y: auto;
}

.tripsButton{
    margin-top: 0.5em;
    height: 20%;
    max-height: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    
}

.showTripButton{
    height: 100%;
    width: 70%;
    color: white;
    background-color: #1982C4;
    border: 0.1em white solid;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 0.7em
}


.showTripButton:hover{
    height: 100%;
    width: 70%;
    background-color: #072D45;
    border: 0.1em #1982C4 solid;
    font-weight: bold;
    color: white;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 0.7em
}


@media (max-width: 750px) {
    .trips{
        width: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 1em;
    }
} 

@media (max-width: 450px) {
    .trips{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
} 