.tripsDeisgn{
    background-color: #6e387b;
    background-color: #4C1E4F;
    background-image: linear-gradient(160deg, #6e387b 0%, #fe5f55 100%);
    color: white;
    width: 100vw;
    min-height: 87vh;
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripsContainer{
    margin-top: 2em;
    width: 80%;
    height: 90%;
    border-radius: 2em;
}

.trips{
    width: 100%;
    display: grid;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-gap: 1em;
}

.pagination{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

.paginationButton{
    color: black;
    background-color: #FFCF00;
    border: 3px solid #ff9d00;
}

.paginationButton:hover{
    background-color: #ff9d00;
    border: 3px solid #ff9d00;
}

.activePage{
    color: white;
    background-color: #ff9d00;
    border: 3px solid #ff9d00;
}

.trip{
    width: 100%;
    height: 15em;
    padding: 0.2em;
    background-color: #00916E;
    border-radius: 1em;
    cursor: pointer;
}

.trip:hover{
    background-color: #C08497;
    width: 100%;
    height: 100%;
    padding: 0.2em;
}

.tripsCity{
    height: 15%;
    max-height: 15%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: #00654d;
    border-radius: 1em 1em 0 0;
}

.tripsDates{
    padding: 0.2em 0 0.2em 0;
    height: 15%;
    max-height: 15%;
    color: #201335;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.tripsDescription{
    height: 40%;
    color: #201335;
    max-height: 40%;
    padding-top: 1em;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.tripsButton{
    margin-top: 0.5em;
    height: 20%;
    max-height: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

.showTripButton{
    height: 100%;
    color: #E7EB90;
    background-color: #6F5060;
    border: 2px solid #51344D;
    display: flex;
    align-items: center;
    justify-content:center;
}

.showTripButton:hover{
    height: 100%;
    color: #E7EB90;
    background-color: #51344D;
    border: 2px solid #51344D;
    display: flex;
    align-items: center;
    justify-content:center;
}


@media (max-width: 750px) {
    .trips{
        width: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 1em;
    }
} 

@media (max-width: 450px) {
    .trips{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
} 